<article id="fedora-object-{{ uuid }}" class="{{ attributes.class }} clearfix"{{ attributes|without('id', 'class') }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes }}>
        {{ rdf }}
    </div>

</article>
